<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="<%= @context[:description] || 'A co-working study group for developers learning a new language or their first language' %>" />
    <title>
      <% if @path == 'index' %>
        Polyglot Programmers of Austin
      <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - Polyglot Programmers of Austin
      <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - Polyglot Programmers of Austin
      <% end %>
    </title>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>site powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>